<h1>Listing search_counts</h1>

<table>
  <thead>
    <tr>
      <th>Counter</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @search_counts.each do |search_count| %>
      <tr>
        <td><%= search_count.counter %></td>
        <td><%= link_to 'Show', search_count %></td>
        <td><%= link_to 'Edit', edit_search_count_path(search_count) %></td>
        <td><%= link_to 'Destroy', search_count, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Search count', new_search_count_path %>
